/* GENERAL */
body{
    margin-bottom:50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.invisible {
	visibility: hidden;
}

a:link {
	color: black;
	font-weight: normal;
    text-decoration: none;
}

a:visited {
	color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.github-link {
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
	text-align: left;
}

/* HEADER */
.header-back {
	width: 100%;
	height: 60px;
	background-color: #aaa;
	text-align: center;
	padding-top: 10px;
	margin: 0px;
}

.header-title {
	font-size: 20px;
	font-weight: bold;
	font-family: monospace;
	color: #555;
}

.header-link-container {
	width: 100%;
	height: 24px;
	background-color: #555;
	text-align: center;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.header-link {
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px; 
	text-align: center;
	display: inline-block;
}

.header-link:hover {
	cursor: pointer;
	color: #D9EFF2;
}

/* FOOTER */
.footer {
    position:fixed;
    height:50px;
    background-color: #aaa;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    border-top: 2px solid black;
    text-align: center;
}

.footer-text {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
	color: #555;
	margin: 5px;
}