/* GENERAL */
body {
	margin-bottom:50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.github-link {
	width: 90px;
	height: 32px;
	background-image: url("/images/fork-me-on-github.png");
	background-size: 90px 32px;
	position: fixed;
	top: 50px;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}

a:link {
	color: black;
	font-weight: normal;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.left100Perc {
	float: left;
	width: 100%;
}

/* HEADER */
.header-back {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	margin: 0px;
	padding-bottom: 15px;
	background: -webkit-linear-gradient(top, rgb(180,180,180) 0%,
											rgb(130,130,130) 90%,
											rgb(50,50,50) 100%);
	background: -moz-linear-gradient(top, rgb(180,180,180) 0%,
											rgb(130,130,130) 90%,
											rgb(50,50,50) 100%);
	background: -ms-linear-gradient(top, rgb(180,180,180) 0%,
											rgb(130,130,130) 90%,
											rgb(50,50,50) 100%);
}

.header-title {
	font-size: 20px;
	font-weight: bold;
	font-family: monospace;
	color: #555;
}

.header-link-container {
	width: 100%;
	background-color: #555;
	text-align: center;
	background: -webkit-linear-gradient(top, rgb(40,40,40) 0%,
											rgb(0,0,0) 5%,
											rgb(40,40,40) 10%,
											rgb(85,85,85) 20%,
											rgb(0,0,0) 50%,
											rgb(85,85,85) 80%,
											rgb(40,40,40) 90%,
											rgb(0,0,0) 95%,
											rgb(220,220,220) 100%);
	background: -moz-linear-gradient(top, rgb(40,40,40) 0%,
											rgb(0,0,0) 5%,
											rgb(40,40,40) 10%,
											rgb(85,85,85) 20%,
											rgb(0,0,0) 50%,
											rgb(85,85,85) 80%,
											rgb(40,40,40) 90%,
											rgb(0,0,0) 95%,
											rgb(220,220,220) 100%);
	background: -ms-linear-gradient(top, rgb(40,40,40) 0%,
											rgb(0,0,0) 5%,
											rgb(40,40,40) 10%,
											rgb(85,85,85) 20%,
											rgb(0,0,0) 50%,
											rgb(85,85,85) 80%,
											rgb(40,40,40) 90%,
											rgb(0,0,0) 95%,
											rgb(220,220,220) 100%);
}

.header-link {
	line-height: 28px;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px; 
	text-align: center;
	display: inline-block;
}

.header-link:hover {
	cursor: pointer;
	color: #9BD5DD;
}

.github-link {
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	text-align: left;
}

.source-code-link {
	font-size: 12px;
	color: black;
	text-decoration: none;
	display: inline-block;
	line-height: 12px;
}

.source-code-link:hover {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

/* MODAL */
.code-row-index {
	float: left;
	display: inline;
	border-right: 1px solid black;
	width: 30px;
	line-height: 22px;
	text-align: right;
	padding-right: 2px;
}

.code-row-text {
	display: inline;
	line-height: 22px;
	margin-left: 10px;
}

.code-img {
	text-align: center;
}

/* FOOTER */
.footer {
	position:fixed;
	height:50px;
	background-color: #aaa;
	bottom:0px;
	left:0px;
	right:0px;
	margin-bottom:0px;
	border-top: 2px solid black;
	text-align: center;
	background: -webkit-linear-gradient(top, rgb(40,40,40) 0%,
											rgb(170,170,170) 15%,
											rgb(170,170,170) 100%);
	background: -moz-linear-gradient(top, rgb(40,40,40) 0%,
											rgb(170,170,170) 15%,
											rgb(170,170,170) 100%);
	background: -ms-linear-gradient(top, rgb(40,40,40) 0%,
											rgb(170,170,170) 15%,
											rgb(170,170,170) 100%);
}

.footer-text {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
	color: #555;
	margin: 5px;
}