/* GENERAL */
body {
	margin-bottom:50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}

a:link {
	color: black;
	font-weight: normal;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.left100Perc {
	float: left;
	width: 100%;
}

/* HEADER */
.header-back {
	width: 100%;
	background-color: #aaa;
	text-align: center;
	padding-top: 10px;
	margin: 0px;
}

.header-title {
	font-size: 20px;
	font-weight: bold;
	font-family: monospace;
	color: #555;
}

.header-link-container {
	width: 100%;
	background-color: #555;
	text-align: center;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.header-link {
	line-height: 24px;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px; 
	text-align: center;
	display: inline-block;
}

.header-link:hover {
	cursor: pointer;
	color: #D9EFF2;
}

.github-link {
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
	text-align: left;
}

.source-code-link {
	font-size: 12px;
	color: black;
	text-decoration: none;
	display: inline-block;
	float: left;
	line-height: 50px;
}

.source-code-link:hover {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

/* MODAL */
.code-row-index {
	float: left;
	display: inline;
	border-right: 1px solid black;
	width: 30px;
	line-height: 22px;
	text-align: right;
	padding-right: 2px;
}

.code-row-text {
	display: inline;
	line-height: 22px;
	margin-left: 10px;
}

/* FOOTER */
.footer {
	position:fixed;
	height:50px;
	background-color: #aaa;
	bottom:0px;
	left:0px;
	right:0px;
	margin-bottom:0px;
	border-top: 2px solid black;
	text-align: center;
}

.footer-text {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
	color: #555;
	margin: 5px;
}