.subtitle {
	font-size: 20px;
	font-family: monospace;
	padding: 10px;
	float: left;
}

.description {
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #D9EFF2;
	float: left;
	width: 90%;
	margin-bottom: 15px;
}

.description-objective {
	margin-left: 5%;
	margin-right: 5%;
}

.description-architecture {
	margin-left: 5%;
	margin-right: 5%;
}

.container {
	position:fixed;
	bottom: 50px;
	top: 93px;
	width: 100% !important;
	background-color: #ddd;
	overflow: auto;
	background: -webkit-linear-gradient(top, rgb(150,150,150) 0%,
											rgb(220,220,220) 5%,
											rgb(220,220,220) 90%,
											rgb(150,150,150) 100%);
	background: -moz-linear-gradient(top, rgb(150,150,150) 0%,
											rgb(220,220,220) 5%,
											rgb(220,220,220) 90%,
											rgb(150,150,150) 100%);
	background: -ms-linear-gradient(top, rgb(150,150,150) 0%,
											rgb(220,220,220) 5%,
											rgb(220,220,220) 90%,
											rgb(150,150,150) 100%);
}

.archive {
	height: 20px;
	margin-right: 3px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.archive-folder {
	width: 24px;
	background-image: url("/images/folder_blue.png");
}

.archive-file {
	width: 20px;
	background-image: url("/images/file_blue.png");
}

.folder-title {
	font-size: 15px;
	font-weight: bold;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #D9EFF2;
	margin-left: 5%;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 30%;
	text-indent: 5px;
}

.file-name {
	line-height: 22px;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
}

.file-ident {
	margin-left: 7%;
}

.file-link {
	text-decoration: underline;
}

.file-link:hover {
	text-decoration: none;
}

.source-code-container {
	float: left;
	margin-top: 20px;
}