.subtitle {
	font-size: 20px;
	font-family: monospace;
	padding: 10px;
}

.description {
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #D9EFF2;
}

.description-objective {
	margin-left: 5%;
	width: 90%;
}

.description-architecture {
	margin-left: 40%;
	width: 50%;
	height: 100px;
	position: fixed;
}

.container {
	position:fixed;
	bottom: 50px;
	top: 98px;
	width: 100%;
	background-color: #ddd;
	overflow: auto;
}

.archive {
	height: 20px;
	margin-right: 3px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.archive-folder {
	width: 24px;
	background-image: url("/images/folder_blue.png");
}

.archive-file {
	width: 20px;
	background-image: url("/images/file_blue.png");
}

.file-name {
	line-height: 22px;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
}