<html ng-app="structureApp">
<head>
	<title></title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/client.css">
	<link rel="stylesheet" type="text/css" href="/css/container.css">
	<link rel="stylesheet" type="text/css" href="/css/loading.css">
</head>
<body ng-controller="mainCtrl">
	<div class="header-back">
		<div class="header-title"># {{config.title}} #</div>
		<div style="float:none" source-code></div>
		<a ng-href="{{config.github}}" target="_blank"><div class="github-link"></div></a>
	</div>
	<div class="header-link-container">
		<div class="header-link" ng-repeat="menu in menus">
			<div ng-click="switchView(menu.label, menu.index)">{{menu.label}}</div>
		</div>
	</div>
	<div loading></div>
	<div class="container" ng-view>
	</div>
	<div class="footer">
		<div class="footer-text">
			Copyright © {{config.year}} {{config.author}}<br>
			All rights reserved
		</div>
	</div>
	<script src="/modules/jquery/dist/jquery.min.js"></script>
	<script src="/modules/angular/angular.min.js"></script>
	<script src="/modules/angular-route/angular-route.min.js"></script>
	<script src="/modules/angular-resource/angular-resource.min.js"></script>
	<script src="/modules/angular-bootstrap/dist/ui-bootstrap-tpls.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
	<script src="/js/client.js"></script>
	<script src="/js/controllers/MainController.js"></script>
	<script src="/js/controllers/ObjectiveController.js"></script>
	<script src="/js/controllers/ArchitectureController.js"></script>
	<script src="/js/controllers/AnalysisController.js"></script>
	<script src="/js/controllers/ControllersController.js"></script>
	<script src="/js/controllers/DirectivesController.js"></script>
	<script src="/js/controllers/FiltersController.js"></script>
	<script src="/js/controllers/ServicesController.js"></script>
	<script src="/js/controllers/ModelsController.js"></script>
	<script src="/js/controllers/CssController.js"></script>
	<script src="/js/controllers/HtmlController.js"></script>
	<script src="/js/controllers/SourceCodeController.js"></script>
	<script src="/js/directives/CollectionDirective.js"></script>
	<script src="/js/directives/MemberDirective.js"></script>
	<script src="/js/services/FileService.js"></script>
	<script src="/js/services/HttpInterceptor.js"></script>
	<script src="/js/directives/LoadingDirective.js"></script>
	<script src="/js/directives/SourceCodeDirective.js"></script>
	<script src="/js/directives/FileLinkDirective.js"></script>
	<script src="/js/directives/ChartDirective.js"></script>
	<script src="/js/filters/SanitizeFilter.js"></script>
	<script src="/js/filters/CodeSpacerFilter.js"></script>
</body>
</html>