<div ng-controller="sourceCodeCtrl">
	<script type="text/ng-template" id="sourceCodeContent.html">
		<div class="modal-header">
			<h3 class="modal-title">{{page.name}}</h3>
		</div>
		<div class="modal-body" style="white-space:nowrap;overflow-x:auto;max-height:500px;">
			<div class="code-img" ng-if="page.isImage"><img ng-src="/images/{{page.name}}"></img></div>
			<div ng-if="!page.isImage" ng-repeat="row in page.sourceCodeRows">
				<div style="display:inline-block">
					<div class="code-row-index">{{row.index}}</div>
					<div style="float:left" ng-bind-html="row.text | codeSpacer"></div>
					<div class="code-row-text">{{row.text}}</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="close()">Close</button>
		</div>
	</script>
	<div class="source-code-link" ng-click="open(page)">(source code)</div>
</div>